<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Galerie - {{ vehicule.id }}</title>
</head>
<body>
    <h1>{{ vehicule.marque }} - {{ vehicule.modele }}</h1>
    <p> {{ vehicule. id}} <p>
    <a href={{ path('app_galerie') }}>Retour au Site</a>

</body>
</html>

