{% for h in horaires %}
    <tr>
    <td>{{ h.jour }}</td>
    <td>{{ h.OuvAm}}</td>
    <td>/</td>
    <td>{{ h.FerAm }}</td>
    <td>-</td>
    <td>{{ h.OuvPm }}</td>
    <td>/</td>
    <td>{{ h.FerPm }}</td>
    </tr>
{% endfor %}