{% extends 'base.html.twig' %}

{% block title %}G.Parrot Galerie{% endblock %}

{% block stylesheets %}
.ctnr-galerie {
    min-height: 80vh; 
}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/fonctionFiltres.js') }}"></script>
{% endblock %}

{% block body %}

<!-- TABLEAU FONCTION TRIE DYNAMIQUE -->

<div class="row py-3" style="background: lightblue;">
    <div clas="col-12 d-flex">
        <div class="d-flex justify-content-around">
            <section class="d-inline-flex">
                <label for="marque-select-list"></label>

                <select name="marque-select" id="marque-select-list">
                <option value="null">Marque du Véhicule</option>
                <optgroup label="Véhicules disponible">
                    {% for v in vehiculeInfo %}
                    <option value="{{ v.marque }}">{{ v.marque }}</option>
                    {% endfor %}
                </optgroup>
                </select>
            </section>

            <section class="d-inline-flex">
                <label for="modele-select-list"></label>

                <select name="modele-select" id="modele-select-list">
                <option value="null">Modèle du Véhicule</option>
                <optgroup label="Véhicules disponible">
                    {% for v in vehiculeInfo %}
                    <option value="{{ v.modele }}">{{ v.modele }}</option>
                    {% endfor %}
                </optgroup>
                </select>
            </section>

            <section class="d-inline-flex">
                <label for="annee-select-list"></label>

                <select name="annee-select" id="annee-select-list">
                    <option value="null">Année du Véhicule</option>
                    {% for i in 2023..1960 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </section>
            <section class="d-inline-flex">
                <label for="carburant-select-list"></label>

                <select name="carburant-select" id="carburant-select-list">
                    <option value="null">Type de carburant</option>
                    <option value="Diesel">Diesel</option>
                    <option value="essence">Essence</option>
                    <option value="electrique">Éléctrique</option>
                </select>
            </section>
        </div>
    </div>

                            <!-- Selecteur pour trie du Prix ci dessous -->

    <div clas="col-12 d-flex">
        <div class="d-flex justify-content-center mt-2">

            <section class="d-flex flex-column">
                <label for="prix-select-min" class="text-center">Prix minimum</label>
                <input name="prix-select-mini" id="prix-select-min" placeholder="800">
            </section>

            <section class="d-flex flex-column">
                <label for="prix-select-max" class="text-center">Prix maximum</label>
                <input name="prix-select-maxi" id="prix-select-max" placeholder="7500">
            </section>

        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center mt-2">
            <button id="subButton">Recherche</button>
        </div>
    </div>
</div>

                        <!-- AFFICHAGE DES CARTES DES VEHICULES -->

<h1 class="text-center">Nos Véhicules à vendre</h1>

<div class="container ctnr-galerie">
    <div class="row">
    {% for v in vehiculeInfo %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <img src="{{ asset('images/Vehicules/defaut.jpg') }}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ v.marque }} {{ v.modele }}</h5>
                    <p>Année : {{ v.annee | date('Y-m') }} </p>
                    <p>Chevaux : {{ v.chevaux }}</p>
                    <div class="d-flex">
                        <div class="col-6">
                            <p >{{ v.typeCarburant }}</p>
                            <p>{{ v.kilometres }} Km<p>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-primary float-end">Plus d'Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
    </div>


</div>
{% endblock %}


