<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enregistrement</title>
</head>
<body>
    <h1>Enregistrer un Utilisateur</h1>
       <a href= "{{ path('app_edit_users') }}">Retour</a>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.moderateur) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</body>
</html>
